.button {
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    color: #fcffc6;
    background: orange;
    border: solid #ff1b11 3px;
    border-radius: 10px/10px;
    font-family: Serif;
    padding: 10px;
    margin: 10px;
}
.input {
    width: 500px;
    padding: 10px;
    margin: 10px;
}
.h3 {
    font-size: 50px;
}
.div {
    text-align: center;
    width: 600px;
    height: 120px;
    border: solid cornflowerblue;
    border-radius: 50px/50px;
    background: cornsilk;
    padding: 30px;
    margin: 30px;
    box-shadow: 20px 20px 5px #888888;
}
.hello_div {
    height: 60px;
}